# macOS
.DS_Store

# Xcode user-specific data
xcuserdata/
*.xcuserdatad
*.xcuserstate

# Xcode and Swift build products
build/
DerivedData/
.build/

# Misc Xcode workspace state
*.moved-aside
*.xccheckout
